![](./img/chinahadoop.png)
# 风控实战项目 -- 电信行业风控建模
**[小象学院](http://www.chinahadoop.cn/course/landpage/15)《机器学习集训营》实战项目案例 by [@寒小阳](http://www.chinahadoop.cn/user/49339/about)**

### 引入基础工具库

In [1]:
import numpy as np
import pandas as pd
import scipy as sp
import matplotlib.pyplot as plt

%matplotlib inline

### 读入数据

In [5]:
df_train_voice = pd.read_csv('./data/voice_train.txt', sep='\t', 
                             names=['uid', 'opp_num', 'opp_head', 'opp_len', \
                                    'start_time', 'end_time', 'call_type', 'in_out'], low_memory=False)

df_train_sms = pd.read_csv('./data/sms_train.txt',sep='\t', 
                           names=['uid','opp_num','opp_head','opp_len','start_time', 'in_out'], low_memory=False)

df_train_wa = pd.read_csv('./data/wa_train.txt',sep='\t',
                          names = ['uid', 'wa_name', 'visit_cnt', 'visit_dura', \
                                   'up_flow', 'down_flow', 'wa_type', 'date'], low_memory=False)

df_train_label = pd.read_csv('./data/uid_train.txt', sep='\t', 
                          names = ['uid', 'label'], low_memory=False)

### 基本数据信息了解

In [6]:
df_train_voice.head()

,uid,opp_num,opp_head,opp_len,start_time,end_time,call_type,in_out
0,u0113,38D54642A237A11BB18455FC1E505292,132,11,26115956,26120033,1,1
1,u0113,38D54642A237A11BB18455FC1E505292,132,11,26115623,26115707,1,1
2,u0113,38D54642A237A11BB18455FC1E505292,132,11,26174233,26174321,1,1
3,u0113,38D54642A237A11BB18455FC1E505292,132,11,26070423,26070512,1,0
4,u3340,010A66F2AD42C48C44897A3DEC96A2A1,139,11,26201745,26201825,1,1

In [7]:
df_train_voice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1150778 entries, 0 to 1150777
Data columns (total 8 columns):
uid           1150778 non-null object
opp_num       1150778 non-null object
opp_head      1150778 non-null object
opp_len       1150778 non-null int64
start_time    1150778 non-null int64
end_time      1150778 non-null int64
call_type     1150778 non-null int64
in_out        1150778 non-null int64
dtypes: int64(5), object(3)
memory usage: 70.2+ MB

In [8]:
df_train_sms.head()

,uid,opp_num,opp_head,opp_len,start_time,in_out
0,u4003,B378E065731B897E7295926B27CBA0D5,186,11,20174042,1
1,u4003,B378E065731B897E7295926B27CBA0D5,186,11,20174130,1
2,u4003,1B15607F3E6D167B44D46046D5993D87,189,11,20015746,0
3,u4003,1B15607F3E6D167B44D46046D5993D87,189,11,20015640,0
4,u4003,B378E065731B897E7295926B27CBA0D5,186,11,20045300,1

In [9]:
df_train_sms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302976 entries, 0 to 302975
Data columns (total 6 columns):
uid           302976 non-null object
opp_num       302976 non-null object
opp_head      302976 non-null int64
opp_len       302976 non-null int64
start_time    302976 non-null int64
in_out        302976 non-null int64
dtypes: int64(4), object(2)
memory usage: 13.9+ MB

In [10]:
df_train_wa.head()

     uid wa_name  visit_cnt  visit_dura  up_flow  down_flow  wa_type  date
0  u0001   155导航        5.0       207.0    313.0      457.0      0.0  14.0
1  u0001   155导航        7.0       396.0    547.0      659.0      0.0   4.0
2  u0001   155导航       10.0      3212.0    781.0      941.0      0.0  12.0
3  u0001   155导航       14.0       723.0   1094.0     1318.0      0.0  10.0
4  u0001   155导航       18.0       990.0   1406.0     1694.0      0.0  11.0

In [11]:
df_train_wa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4808343 entries, 0 to 4808342
Data columns (total 8 columns):
uid           object
wa_name       object
visit_cnt     float64
visit_dura    float64
up_flow       float64
down_flow     float64
wa_type       float64
date          float64
dtypes: float64(6), object(2)
memory usage: 293.5+ MB

In [12]:
df_train_label.head()

     uid  label
0  u0001      0
1  u0002      0
2  u0003      0
3  u0004      0
4  u0005      0

In [13]:
df_train_label.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 2 columns):
uid      4999 non-null object
label    4999 non-null int64
dtypes: int64(1), object(1)
memory usage: 78.2+ KB